html{
    width: auto;
}
body{
    background-color: lightgoldenrodyellow;
    text-align: center;
    
}
p{
    text-align: center;
}
h1{
    font-size:5rem;
    margin-top: 20rem;
    color: black;
}
#about{
    margin-top: 20rem;
}
#contact{
    margin-bottom: 60rem;
}
h2{
    margin-top: 60rem;
    color:black;
    border-bottom: 0.3rem solid olive ;
}
