html{
    width: auto;
}
body{
    background-color: lightgoldenrodyellow;
    text-align: center;
    
}
p{
    text-align: center;
}
h1{
    color: black;
}
#about{
    margin-top: 180px;
}
#contact{
    margin-bottom: 180px;
}
h2{
    margin-top: 180px;
    color: black;
    border-bottom: 1px solid black;
}
